@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');

.App{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header{
    font-family: 'Seaweed Script', cursive;
    position: absolute;
    color: white;
    font-size: 15vw;
    font-weight: 100;
    text-align: center;
}